.news__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 400px;
  /*max-height: 576px;*/
}

.news__card-image {
  width: 100%;
  height: 100%;
  width: 400px;
  max-height: 272px;
  border-radius: 10px 10px 0 0;
}

.news__card-wrapper_text {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px 24px 24px;
}

.news__card-text_data {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-bottom: 12px;
}

.news__card-text_title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__card-text_paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin-bottom: 18px;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  max-width: 352px;
  max-height: 88px;
  overflow: hidden;
}

.news__card-text_source {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  text-transform: uppercase;
}
