.news__card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  position: relative;
  /*overflow: hidden;*/
}

.news__card-image {
  aspect-ratio: 400 / 272;
  border-radius: 10px 10px 0 0;
  /*object-fit: cover;*/
}

.news__card-wrapper_text {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__card-text_data {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin-bottom: 12px;
}

.news__card-text_title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__card-text_paragraph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin-bottom: 18px;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  max-width: 352px;
  max-height: 88px;
  overflow: hidden;
}

.news__card-text_source {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  text-transform: uppercase;
}

.news__card-button {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__card-button_icon {
  opacity: 0.5;
}

.news__card-msg {
  width: 182px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  border-radius: 8px;
  color: #000;
  top: 40px;
  right: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.2s;
}

.news__card-msg_txt {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
}

.news__card-button:hover .news__card-button_icon {
  opacity: 1;
}

.news__card-button:hover + .news__card-msg {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .news__card {
    max-width: 224px;
  }

  .news__card-image {
    aspect-ratio: 224 / 150;
    border-radius: 10px 10px 0 0;
  }

  .news__card-wrapper_text {
    padding: 14px 16px 16px;
  }

  .news__card-text_title {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 3px;
  }

  .news__card-text_paragraph {
    margin-bottom: 16px;
  }

  .news__card-button {
    top: 9px;
    right: 9px;
  }
}

@media screen and (max-width: 490px) {
  .news__card {
    max-width: 288px;
  }

  .news__card-image {
    aspect-ratio: 288 / 196;
  }

  .news__card-text_title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 14px;
  }

  .news__card-text_paragraph {
    margin-bottom: 30px;
  }
}
