* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

html {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.page {
  background-color: #fff;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.div {
  height: 1px;
}
