* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

html {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.page {
  background-color: #fff;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.page__wrapper {
  background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-min.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}