main {
  max-width: 880px;
  display: flex;
  justify-content: center;;
  margin: 0 auto;
}

.converter {
  margin: 80px 0;
}

.converter__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 702px;
  margin-bottom: 32px;
}

.converter__subtitle {
  max-width: 608px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 64px;
}