main {
  max-width: 880px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.converter {
  margin: 80px 0;
}

@media screen and (max-width: 768px) {
  .converter {
    margin: 38px 40px 48px;
  }

  .converter__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 702px;
    margin-bottom: 16px;
  }

  .converter__subtitle {
    max-width: 608px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
  }
}
