.search-form {
  display: inline-block;
  position: relative;
  width: 100%;
}

.search-form__input {
  background-color: #fff;
  border: none;
  max-height: 64px;
  color: #000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 21px 24px;
  border-radius: 140px;
  width: 100%;
  max-width: 460px;
  outline: none;
}

.search-form__button {
  background-color: #2f71e5;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 49px;
  border-radius: 140px;
  position: absolute;
  z-index: 1;
  left: 410px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.search-form__button:hover {
  background-color: #347eff;
}

.search-form__button:active {
  background-color: #2a65cc;
}
