.preloader {
  width: 100%;
  display: block;
  background-color: #f5f6f7;
  padding: 80px 0;
}

.preloader__circle {
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 0.75s infinite linear;
  margin: 0 auto 24px;
}

.preloader__text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #b6bcbf;
  text-align: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
