.header {
  width: 100%;
  max-width: 1440px;
  margin: 19px auto;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.header__wrapper {
  display: flex;
  gap: 63px;
}

.header__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.header__item:last-child {
  width: 100%;
  max-width: 176px;
  background: transparent;
  border: solid 2px;
  border-radius: 100px;
  padding: 12px 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item:last-child:hover {
  cursor: default;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 14px auto;
  }
}
