.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 0 80px;
  background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-min.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__navigation {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 19px 104px 13px;
}

.header__navigation_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 44px;
}

.header__navigation_title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.header__navigation_button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.header__navigation_button-outline {
  border: 1px solid white;
  padding: 12px 61px;
  border-radius: 140px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header__subtitle {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 702px;
}

.header__paragraph {
  max-width: 608px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.header__searchForm {
  position: relative;
  margin: 32px 0 0;
}

.header__searchForm_input {
  background-color: #fff;
  border: none;
  max-height: 64px;
  color: #000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 21px 24px;
  border-radius: 140px;
  width: 100%;
  max-width: 460px;
  outline: none;
}

.header__searchForm_button {
  background-color: #2f71e5;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 49px;
  border-radius: 140px;
  position: absolute;
  z-index: 1;
  left: 410px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.header__searchForm_button:hover {
  background-color: #347eff;
}

.header__searchForm_button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .header {
    gap: 38px;
    padding: 0 0 48px;
  }

  .header__navigation {
    padding: 14px 40px 12px;
  }

  .header__navigation_wrapper {
    gap: 30px;
  }

  .header__navigation_button {
    font-size: 16px;
  }

  .header__navigation_button-outline {
    padding: 8px 54px;
  }

  .header__subtitle {
    font-size: 36px;
    line-height: 40px;
    max-width: 400px;
  }

  .header__paragraph {
    max-width: 400px;
  }

  .header__searchForm {
    max-width: 452px;
    margin: 16px 0 0;
  }

  .header__searchForm_input {
    max-width: 288px;
    max-height: 56px;
  }

  .header__searchForm_button {
    max-width: 160px;
    max-height: 56px;
    padding: 16px 45px;
    left: 240px;
  }
}

@media screen and (max-width: 500px) {
}
