.footer {
  max-width: 1120px;
  height: 100%;
  margin: 28px auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
}

.footer__copyright {
  margin: 0;
  color: #b6bcbf;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer__links_item-text {
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
}

.footer__links_item {
  text-decoration: none;
}

.footer__icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin: 20px 40px;
  }
}

@media screen and (max-width: 485px) {
  .footer {
    margin: 20px 16px 22px;
    flex-direction: column-reverse;
    gap: 38px;
  }

  .footer__wrapper {
    gap: 0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 100px;
  }

  .footer__copyright {
    font-size: 13px;
    line-height: 22px;
  }
}
