.news {
  width: 100%;
  background-color: #f5f6f7;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.news__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 80px;
}

.news__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.news__gallery {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 64px 0;
  flex-wrap: wrap;
}

.news__button {
  max-width: 288px;
  background-color: #fff;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 88px;
  border-radius: 140px;
  color: #000;
  cursor: pointer;
  outline: none;
}

.news__button:hover {
  background-color: #e8e8e8;
}
