.news {
  width: 100%;
  background-color: #f5f6f7;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.news__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 80px;
}

.news__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.news__gallery {
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 64px 0;
}

.news__button {
  max-width: 288px;
  background-color: #fff;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 88px;
  border-radius: 140px;
  color: #000;
  cursor: pointer;
  outline: none;
}

.news__button:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .news__title {
    font-size: 30px;
    line-height: 34px;
  }

  .news__wrapper {
    max-width: 768px;
    margin: 40px 40px;
  }

  .news__gallery {
    max-width: 768px;
    margin: 32px 0 32px;
    gap: 8px;
  }

  .news__button {
    max-width: 240px;
    padding: 16px 66px;
  }
}

@media screen and (max-width: 720px) {
  .news__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 490px) {
  .news__wrapper {
    margin: 32px 16px 24px;
  }

  .news__gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 58px 0 16px;
  }
}
