@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Main/Main.css);
@import url(./components/About/About.css);
@import url(./components/Preloader/Preloader.css);
@import url(./components/NewsCardList/NewsCardList.css);
@import url(./components/NewsCardList/NewsCard/NewsCard.css);
@import url(./components/NotFound/NotFound.css);
@import url(./components/Popup/Popup.css);
