@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Main/Main.css);
@import url(./components/Main/SearchForm/SearchForm.css);
@import url(./components/About/About.css);
